@import url('https://fonts.googleapis.com/css?family=Kanit');

/* 设置全局字体 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    z-index: -1; /* 将图片置于底层 */
}

#background-image2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: -1; /* 将图片置于底层 */
}

#background-image3 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    z-index: -1; /* 将图片置于底层 */
}

#background-image4 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: -1; /* 将图片置于底层 */
}

h1 {
    position: fixed;
    top: 300px;
    left: 550px;
    font-size: 2.5em;
}
  
p {
    position: fixed;
    top: 350px;
    left: 450px;
    font-size: 1.25em;
    color: #ff0000;
}

.kun {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.kunwriter {
    color:rgb(38, 0, 255);
    font-size: 0.95em;
    position: absolute;
    left: 20px;
    top: 60px
}

.brick{
    position: fixed;
    top: 250px;
    right: 20px;
    z-index: 100;
}

.brickwriter {
    color:rgb(38, 0, 255);
    font-size: 0.95em;
    position: absolute;
    right: 20px;
    top: 300px
}