@import url('https://fonts.googleapis.com/css?family=Kanit');

/* 设置全局字体 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    z-index: -1; /* 将图片置于底层 */
}

#background-image2 {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: -1; /* 将图片置于底层 */
}

#background-image3 {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    z-index: -1; /* 将图片置于底层 */
}

#background-image4 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    z-index: -1; /* 将图片置于底层 */
}

h1 {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}
  
p {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.15em;
    color: #000000;
}


.kun {
    color:rgb(231, 2, 158);
    position: fixed;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 2em;
}

.kunwriter {
    color:rgb(231, 2, 2);
    font-size: 1em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 18%;
    left: 25%;
}

.brick{
    color:rgb(231, 2, 158);
    position: fixed;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 2em;
}

.brickwriter {
    color:rgb(231, 2, 158);
    font-size: 1.2em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 75%;
}

.PlaneWars {
    color:rgb(231, 2, 158);
    position: fixed;
    top: 73%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 2em;
}

.PlaneWarsWriter {
    color:rgb(231, 2, 158);
    font-size: 0.95em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 78%;
    font-size: 1.5em;
    left: 25%;
}

.CardMemory{
    color:rgb(255, 135, 0);
    position: fixed;
    top: 73%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 100;
    font-size: 35px;
}

.CardMemoryWriter {
    color:rgb(231, 2, 158);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 78%;
    left: 75%;
    font-size: 25px;
}
